<?xml version="1.0" encoding="utf-8"?>
<Config>
  <SMTP>
    <Groups>
      <Group Name="TestUsers">
        <MailTo>ning.lu@fsg.com.cn</MailTo>
        <CCTo>xinyu.wang@fsg.com.cn</CCTo>
        <MSGTo>13761120843</MSGTo>
      </Group>
    </Groups>
    <AttachmentsFolder>d:\</AttachmentsFolder>
    <SecurityType>无</SecurityType>
    <SmtpHost>mail.fsg.com.cn</SmtpHost>
    <SmtpPort>25</SmtpPort>
    <EmailAddress>xinyu.wang@fsg.com.cn</EmailAddress>
    <Connection></Connection>
    <Signature>测试邮件</Signature>
    <EmailPass>1995,wang</EmailPass>
    <!--<EmailPass>zbP8tCJm6WtC2w6yezUxd2vt+LCKFGYc</EmailPass>-->
  </SMTP>
</Config>